html{
    height:100%;
}

body{
    background: linear-gradient(to bottom right, skyblue, white);
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;


}

.container{
    display: grid;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: repeat(11, 1fr);
}

.titleBar{
    display: inline-grid;
    grid-template-columns: repeat(11,1fr);
    grid-row: 1;
    grid-column: 1/12;
    padding: 0px;
    background-color:#0d0e55;
}

.title{
    grid-column: 3/10;
    color: white ;
    font-size: 30px;
    font-weight: bold;
    justify-self: center;
    align-self: center;
}

.madeBy{
    color: #0d0e55;
    align-self: flex-end;
    font-size: 10px;
    grid-row: 10/11;
    grid-column: 10/11;
    align-self: flex-end;
    justify-self: flex-end;
}


button{
    background-color: #0d0e55;
    color: whitesmoke;
    grid-row: 8;
    width: 100px;
    height: 30px;
    align-self: center;
    justify-self: center;
    font-size: medium;
    border-radius: 7px;
    border: none;
}

button:hover{
    color: #0d0e55;
    background-color: whitesmoke;
    border-style: solid;
    border-color: #0d0e55;
}

#rock{
    grid-column: 4;
}

#paper{
    grid-column: 6;
}

#scissors{
    grid-column: 8;
}

#you{
    grid-row: 3;
    grid-column: 4;
    align-self: center;
    justify-self: center;
    color: #0d0e55;
    font-size: xx-large;
    font-weight: bold;
}

#computer{
    grid-row: 3;
    grid-column: 8;
    align-self: center;
    justify-self: center;
    color:#0d0e55;
    font-size: xx-large;
    font-weight: bold;
}

#playerScore{
    grid-row: 5;
    grid-column: 4;
    align-self: center;
    justify-self: center;
    color: #0d0e55;
    font-size: xx-large;
    font-weight: bold;
}
#vs{
    grid-row: 5;
    grid-column: 6;
    align-self: center;
    justify-self: center;
    color: #0d0e55;
    font-size: xx-large;
    font-weight: bold;
}

#computerScore{
    grid-row: 5;
    grid-column: 8;
    align-self: center;
    justify-self: center;
    color: #0d0e55;
    font-size: xx-large;
    font-weight: bold;
}

#message{
    grid-row: 10;
    grid-column: 4/9;
    align-self: center;
    justify-self: center;
    color: #0d0e55;
    font-size: xx-large;
    font-weight: bold;
}

#playerChoice{
    grid-row: 5;
    grid-column: 5/6;
    align-self: center;
    justify-self: center;
    align-self: center;
    justify-self: center;
    height: 75px;
    width: 100px;
}

#computerChoice{
    grid-row: 5;
    grid-column: 7/8;
    align-self: center;
    justify-self: center;
    height: 75px;
    width: 100px;

}