body, html{
    background: linear-gradient(to bottom right,rgb(19,88,116), rgb(24,26,27));
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    font-family: 'Grandstander';
    overflow: hidden;
}

.container{
    display: grid;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: repeat(11, 1fr);
}

.titleBar{
    display: grid;
    padding: 0px;
}

.title{
    font-family: 'Grandstander';
    color: rgb(201,196,189);
    font-size: 50px;
    font-weight: bold;
    justify-self: center;
    align-self: center;
}



button{
    background-color: #0d0e55;
    color: whitesmoke;
    grid-row: 7;
    width: 100px;
    height: 30px;
    align-self: center;
    justify-self: center;
    font-size: medium;
    border-radius: 7px;
    border: none;
}

button:hover{
    color: #0d0e55;
    background-color: whitesmoke;
    border-style: solid;
    border-color: #0d0e55;
}

#rock{
    grid-column: 4;
}

#paper{
    grid-column: 6;
}

#scissors{
    grid-column: 8;
}

#you{
    grid-row: 2;
    grid-column: 4;
    align-self: center;
    justify-self: center;
    color: rgb(201,196,189);
    font-size: xx-large;
    font-weight: bold;
}

#computer{
    grid-row: 2;
    grid-column: 8;
    align-self: center;
    justify-self: center;
    color:rgb(201,196,189);
    font-size: xx-large;
    font-weight: bold;
}

#playerScore{
    grid-row: 4;
    grid-column: 4;
    align-self: center;
    justify-self: center;
    color: rgb(201,196,189);
    font-size: xx-large;
    font-weight: bold;
}
#vs{
    grid-row: 4;
    grid-column: 6;
    align-self: center;
    justify-self: center;
    color: rgb(201,196,189);
    font-size: xx-large;
    font-weight: bold;
}

#computerScore{
    grid-row: 4;
    grid-column: 8;
    align-self: center;
    justify-self: center;
    color: rgb(201,196,189);
    font-size: xx-large;
    font-weight: bold;
}

#message{
    grid-row: 9;
    grid-column: 4/9;
    align-self: center;
    justify-self: center;
    color: rgb(201,196,189);
    font-size: xx-large;
    font-weight: bold;
}

#playerChoice{
    grid-row: 4;
    grid-column: 5/6;
    align-self: center;
    justify-self: center;
    align-self: center;
    justify-self: center;
    height: 75px;
    width: 100px;
}

#computerChoice{
    grid-row: 4;
    grid-column: 7/8;
    align-self: center;
    justify-self: center;
    height: 75px;
    width: 100px;

}